<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cbr__fitness">

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cbrfitnesslogo"
        android:label="CBR Workout Planner"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ExpertLogin"></activity>
        <activity
            android:name=".activities.CBRPlannerResult"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.EditExercise"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.EditPlan"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CreateExercise"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CreatePlan"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ConfigurePlan"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.UserSettings"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CBRPlanner"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.UserInterface"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CreateUser"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>